<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Company</h5>
      <p class="grey-text text-lighten-4">This company specializes exclusively in the restaurant space. Our company delivers a unique team of talented and experienced foodservice professionals who have a proven track record of success.

    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Settings</h5>
      <ul>
        <li><a class="white-text" href="#">Privacy Policy</a></li>
        <li><a class="white-text" href="#">About Us</a></li>
        <li><a class="white-text" href="#">Careers</a></li>
        <li><a class="white-text" href="#">Contact</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Adrian Prieto</h5>
      <ul>
        <li><a class="white-text" href="https://github.com/aprietof" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i>Github</a></li>
        <li><a class="white-text" href="https://twitter.com/adrianprieto00" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>Twitter</a></li>
        <li><a class="white-text" href="https://www.linkedin.com/in/adrianprieto" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>Linkedin</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2016 Copyright | Made by <a class="orange-text text-lighten-3" href="http://www.adrianprieto.com">Adrian Prieto</a>
  </div>
</div>
<div class="stripes"></div>
