<h1>Dashboard</h1>

<h3>{{vm.store.firstname}}</h3>

<h4>Role: {{vm.store.role}}</h4>


<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="contact_name" type="text">
          <label for="first_name">Contact Name</label>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="tel">
          <label for="password">Phone:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
            <input type="text" id="address">
            <label for="address">Address</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="state">
            <label for="state">State:</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="city">
            <label for="city">City:</label>
        </div>
        <div class="input-field col s4">
            <input type="text" id="zip">
            <label for="zip">Zip:</label>
        </div>
        
        
        
      </div>
    </form>
  </div>
