<h1>Dashboard</h1>

<h5>Hi {{vm.store.role}} {{vm.store.firstname}}</h5>

<h5>What would you like to do?</h5>

<div class="row" ng-if="vm.store.role === 'restaurant'">
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" ui-sref="dashboard.orders">Place an order</a>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" ui-sref="dashboard.invoices">Check invoices</a>
    </div>
  </div>
</div>

<div class="row" ng-if="vm.store.role === 'vendor'">

  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" ui-sref="dashboard.invoices">Check invoices</a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" ui-sref="dashboard.products">Add Products</a>
    </div>

</div>
